<%= link_to 'Random food!', posts_path(random: rand(@post_count) + 1) %>
<% if @random_food %>
<h2>your today's food</h2>
<%= link_to post_path(@random_food) do %>
  <%= image_tag @random_food.image %>
  <% end %>
  <% end %>


  <h2>Search by ingredients</h2>
  <%= form_with url: posts_path, local: true, method: :get do |f| %>
  <%= f.text_field :query %>
  <%= f.button "search" %>
  <% end %>

  <div>
    <% @recipes.each do |recipe| %>
    <div>
      <%= link_to  recipe['source_url'] ,target: 'blank' do %>
      <%= image_tag recipe['image_url'], size:'200x100' %><br>
      <%= recipe['title'] %>
    </div>
    <% end %>
    <% end %>
  </div>

  <p id="notice"><%= notice %></p>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h5><%= link_to 'Post Recipe', new_post_path, class: 'hero-font btn btn-primary'  %></h5>
      </div>
    </div>

    <div class="row">
      <% @posts.each do |post| %>
      <div class="col-sm-4">
        <div class="card">
          <%= image_tag post.image %>
          <div class="card-block">
            <h3 class="card-title"><%= post.title %></h3>
            <p class="card-text"> <% post.description %></p>
            <p class="card-text"> <%# post.duration %></p>
            <%= link_to 'View', post, class: "btn btn-info" %>
          </div>
        </div>
        <br>
        <br>
      </div>
      <% end %>
    </div>

  </div>
  <br>
