<%= render 'layouts/header' %>

<p id="notice"><%= notice %></p>
<div class="container">
	<div class="row">
		<div class="col-sm-10">
			<h5><%= link_to 'Post Recipe', new_post_path, class: 'hero-font btn btn-primary'  %></h5>
		</div>
	</div>

	<div class="row">
		<% @posts.each do |post| %>
				<div class="col-sm-4">
					<div class="card">
						<img class="card-img-top" src="http://via.placeholder.com/100x100" alt="Card image cap">
						<div class="card-block">
							<h3 class="card-title"><%= post.title %></h3>
							<p class="card-text"> <% post.description %></p>
							<p class="card-text"> <%# post.duration %></p>
							<%= link_to 'View', post, class: "btn btn-info" %>
						</div>
					</div>
					<br>
					<br>
				</div>
		<% end %>
	</div>

</div>