<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<%= link_to 'Post recipe', new_post_path %>


  <tbody>
    <% @posts.each do |post| %>

      <div>
        <%= link_to post_path(post) do %>
        <%= image_tag post.image %><br>
        <% end %>
        <%= post.title %>
      </div>




    <% end %>
  </tbody>
</table>

<br>
