<%= render 'layouts/header' %>
<p id="notice"><%= notice %></p>

<div class="container">

  <p class="hero-font text-center">
    <strong ><%= @post.title %></strong>
  </p>

  <span style="float: left; padding-right: 40px;">
    <%= @post.image %>
    <%= image_tag 'http://via.placeholder.com/400x400' %>
  </span>

  <p>
    <%= @post.description %>
  </p>

  <p>
    <strong>Method:</strong>
    <%= @post.recipe %>
  </p>

  <p>
    <%= @post.duration %> minutes
  </p>

  <p>
    <strong>Posted by: </strong>
    <%= @post.user.email %>
  </p>

  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>

</div>