<p id="notice"><%= notice %></p>


<% if current_user != @post.user %>

  <% if !@post.rated_by?(current_user)%>
    <%= link_to fa_icon("thumbs-up 2x"), feed_backs_path(like: true, post_id: @post.id), method: :post %><%= @post.feed_backs.liked.count %>
    <%= link_to fa_icon("thumbs-down 2x"), feed_backs_path(like: false, post_id: @post.id), method: :post %><%= @post.feed_backs.unliked.count %>
    <% else %>
    <%= link_to fa_icon("thumbs-up 2x"), feed_back_path(@feed_back.id, like: true, post_id: @post.id), method: :put %><%= @post.feed_backs.liked.count %>
    <%= link_to fa_icon("thumbs-down 2x"), feed_back_path(@feed_back.id, like: false, post_id: @post.id), method: :put %><%= @post.feed_backs.unliked.count %>
    <% end %>

    <% else %>
    <%= fa_icon("thumbs-up 2x") %><%= @post.feed_backs.liked.count %>
    <%= fa_icon("thumbs-down 2x") %><%= @post.feed_backs.unliked.count %>

    <% end %>


    <div class="container">

  <p class="hero-font text-center">
    <strong ><%= @post.title %></strong>
  </p>

  <span style="float: left; padding-right: 40px;">
    <%= image_tag @post.image %>
  </span>

  <p>
    <%= @post.description %>
  </p>

  <p>
    <strong>Method:</strong>
    <%= @post.recipe %>
  </p>

  <p>
    <%= @post.duration %> minutes
  </p>

  <p>
    <strong>Posted by: </strong>
    <%= @post.user.profile.first_name %>
  </p>

</div>

     <% if @post.comments %>
     <div>
      <% @post.comments.each do |comment| %>
       <p><strong><%= comment.body %></strong> from: <%= comment.user.profile.first_name %>
       <% if current_user == comment.user%>
       <%= link_to 'delete', comment_path(comment, post_id: @post_id), method: :delete  %>
       <% end %>
       </p>
       <% end %>
    </div>
      <% end %>

      <%= form_with url:comments_path, local:true, method: :post do |f| %>
      <%= f.text_field :body %>
      <%= f.hidden_field :user_id, value:current_user.id %>
      <%= f.hidden_field :post_id, value:@post.id %>
      <%= f.button 'Send' %>
      <% end %>

    <% if current_user == @post.user %>
      <%= link_to 'Edit', edit_post_path(@post) %> |
      <% end %>

      <%= link_to 'Back', posts_path %>
