<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @post.image %>
</p>

<%= link_to fa_icon("thumbs-up 2x"), feed_back_path(like: true, post_id: @post.id), method: :post %>
<%= link_to fa_icon("thumbs-down 2x"), feed_back_path(like: false, post_id: @post.id), method: :post %>



<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @post.recipe %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @post.duration %>
</p>

<% if current_user == @post.user %>
<%= link_to 'Edit', edit_post_path(@post) %>
<% end %>
 |
<%= link_to 'Back', posts_path %>
