<!DOCTYPE html>
<html>
  <head>
    <title>MYCookBook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
  <header>MY COOKBOOK
    <% if current_user.profile %>
      <%= link_to 'my account', profile_path(current_user.profile.id)  %>
      <% end %> |
    <%= link_to 'sign out',  destroy_user_session_path, method: :delete%>
  </header>
  <% end %>
    <%= yield %>
  </body>
</html>
